---
layout: ""
page_title: "Provider: Fugue"
description: |-
  The Fugue provider providers resources and data sources to interact with the Fugue API.
---

# Fugue Provider

The Fugue provider provides various resources and data sources to interact with
the [Fugue](https://www.fugue.co/) API.

## Example Usage

{{tffile "examples/main.tf"}}

{{ .SchemaMarkdown | trimspace }}
